<form (ngSubmit)="onSubmit()" #registerForm="ngForm" class="flex flex-col items-center justify-center h-screen bg-gray-100">
  <div class="w-2/4 bg-white p-6 rounded-md shadow-md">
    <h2 class="text-2xl font-bold mb-4">Registrarse</h2>
    <div class="mb-4">
      <label for="email" class="block text-gray-700">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="usuario.email" required
             class="w-2/4 px-3 py-2 mt-1 text-gray-700 border rounded-md focus:outline-none focus:ring">
    </div>
    <div class="mb-6">
      <label for="password" class="block text-gray-700">Contraseña:</label>
      <input type="password" id="password" name="password" [(ngModel)]="usuario.password" required
             class="w-2/4 px-3 py-2 mt-1 text-gray-700 border rounded-md focus:outline-none focus:ring">
    </div>
    <button type="submit" [disabled]="!registerForm.valid"
            class="cursor-pointer w-full px-4 py-2 text-white bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Registrarse</button>
  </div>
</form>



