<form (ngSubmit)="onSubmit()" #registerForm="ngForm" class="flex flex-col items-center justify-center h-screen">
    <h2 class="text-4xl font-bold mb-4 text-white text-center">Iniciar sesion</h2>
    <div class="w-2/5 p-6 rounded-xl shadow-2xl bg-gray-700">
      <div class="w-full flex flex-col justify-center items-center">
        <div class="mb-4">
          <label for="email" class="block text-white">Email:</label>
          <input type="email" id="email" name="email" [(ngModel)]="usuario.email" required
                class="px-3 py-2 mt-1 text-white border rounded-md bg-gray-500" placeholder="Email">
        </div>
        <div class="mb-6">
          <label for="password" class="block text-white">Contraseña:</label>
          <input type="password" id="password" name="password" [(ngModel)]="usuario.password" required
                class="px-3 py-2 mt-1 text-white border rounded-md bg-gray-500" placeholder="Contraseña">
        </div>
      </div>
      <div class="w-full text-center">
        <button type="submit" [disabled]="!registerForm.valid"
        class="w-1/5 cursor-pointer px-4 py-2 bg-white rounded-3xl hover:bg-gray-100">Ingresar</button>
      </div>
      <div class="flex justify-between items-center">
        <button (click)="completarCampos()" type="button" class="bg-slate-300 p-2 rounded-md my-2 duration-300 hover:bg-slate-200">Acceso rapido</button>
        <button routerLink="/register" class="text-blue-200 hover:text-blue-400" type="button">no tenes cuenta? Crear</button>
      </div>
    </div>
</form>

<router-outlet/>


  