<div class="container">
    <article class="card">
      <img src="./../../../assets/profile.jpeg" alt="perfil" class="card-image">
      <div class="description">
        <h1>Web Developer</h1>
        <p class="text-content">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, pariatur.
        </p>
      </div>
    </article>

    <article class="card-game">
        <h1>Game: El laberinto</h1>
        <p>El juego del laberinto consiste en encontrar la salida más corta en un laberinto, moviéndote en cuatro direcciones. Hay un límite de tiempo de 3 minutos. El desafío radica en navegar por el laberinto y encontrar la salida antes de que se agote el tiempo.</p>
    </article>
</div>
  