<app-navbar [usuario]="user"></app-navbar>
<div class="flex justify-center items-center">
    <article class="card">
      <div class="card-image-container">
        <img src="./../../../assets/profile.jpeg" alt="perfil" class="card-image">
      </div>
      <div class="description">
        <h1>Web Developer</h1>
        <p>Nombre: Franco</p>
        <p>Apellido: Castañeda</p>
        <p>Division: A342</p>
      </div>
    </article>

    <article class="card-game">
        <h1 class="font-bold">Game: Buscaminas</h1>
        <p>El Buscaminas es un juego de estrategia donde debes evitar minas ocultas en una cuadrícula. Seleccionas casillas para revelar su contenido: vacías o con minas. Evita las minas; si seleccionas una, pierdes. Usa tu intuición y deducción para determinar dónde están las minas sin pistas visuales. El objetivo es descubrir todas las casillas seguras sin hacer estallar ninguna mina. El juego termina cuando todas las casillas seguras están reveladas (ganando) o si seleccionas una mina (perdiendo). </p>
    </article>
</div>
  